.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
.github/**
coverage/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/kokoro-model/**
scripts/**
test-profile/**
test-extensions/**
